---
layout: archive
title: "Open positions"
permalink: /positions/
author_profile: true
---

<div class="jumbotron">
  <p style="text-align:justify; font-style: italic;"> A compter de janvier 2020, je suis a la recherche d'etudiants motives, candidats a la maitrise et au doctorat sur des sujets passionants lies a la cryptographie appliquee, a la protection de la vie privee, dans des cadres theoriques et appliques. Ci-dessous vous trouverez une liste de sujets associes a des financements en cours, mais n'hesitez pas a venir discuter si un autre sujet oriente securite ou vie-privee vous passionne.
</div>
{% include base_path %}

{% for post in site.positions reversed %}
  {% include archive-single.html %}
{% endfor %}
