---
layout: archive
title: "Open positions"
permalink: /positions/
author_profile: true
---

<div class="jumbotron">
  <p style="text-align:justify; font-style: italic;"> A compter de janvier 2020, je suis à la recherche d'étudiants motivés, candidats a la maitrise et au doctorat sur des sujets passionnants lies a la cryptographie appliquée, a la protection de la vie privée, dans des cadres théoriques et appliqués. Ci-dessous vous trouverez une liste de sujets associés a des financements en cours, mais n'hésitez pas a venir discuter si un autre sujet orienté sécurité ou vie-privée vous passionne.
</div>
	
<table class="table"> 
	<tbody>

{% assign offers = site.positions | where: 'available', 'true' | sort: 'priority', 'first' %}
{% for o in offers %}
		<tr>
		<td class="text-center">
    {% for l in o.level %}
        {% case l %}
          {% when 'PhD' %}
				      <span class="badge badge-pill badge-danger">
          {% when 'MSc' %}
      		    <span class="badge badge-pill badge-warning">
          {% when 'BSc' %}
              <span class="badge badge-pill badge-info">
          {% else %}
              <span class="badge badge-pill badge-secondary">
        {%endcase%}{{ l }}</span><br />
    {% endfor %}
			</td>
			<td class="publication">
				<span class="pubtitle">
					<a href="{{ o.url }}"><strong>{{o.title}}</strong></a>.
				</span><br />
				<span class="authors">
					<!-- {% assign my_array = "" | split: ", " %} -->
					<!-- {% for s in o.people %}
						  {% assign my_array = my_array | push: site.data.people[s].display_name %}
					{% endfor %} -->
					<!-- <i> Supervision: {{ my_array | array_to_sentence_string }} </i> -->
					<i> Supervision: {{ o.people }} </i>
				</span><br />
			</td>
      <td>
        {% if o.funding %}
        <i class="fas fa-dollar-sign"></i>
        {% endif %}
      </td>
		</tr>
{% endfor %}
</tbody>
</table>


<p style="text-align:justify; font-style: italic;">
  Les offres estampillées avec un <i class="fas fa-dollar-sign"></i> sont financées. Pour les autres sujets, il n'y a pas a l'heure actuelle de financement mais nous pouvons vous accompagner dans la recherche d'une bourse. Si vous êtes intéressé par un sujet donné, venez discuter avec nous des meilleures options qui peuvent s'appliquer dans votre cas particulier.
</p>



<h2>Old offers</h2>

<table class="table" style="color: #999">
	<tbody>

{% assign offers_by_date = site.positions | sort: 'last-updated', 'first' %}
{% assign offers = offers_by_date | reverse | where: 'available', 'false' %}
{% for o in offers %}
		<tr>
		<td class="text-center">
        {% for l in o.level %}
				<span class="badge badge-pill badge-light">{{ l }}</span><br/>
        {% endfor %}
			</td>
			<td class="publication">
				<span class="pubtitle">
					<a href="{{ o.url }}"><strong>{{o.title}}</strong></a>.
				</span><br />
				<span class="authors">
					{% assign my_array = "" | split: ", " %}
					{% for s in o.people %}
						  {% assign my_array = my_array | push: site.data.people[s].display_name %}
					{% endfor %}
					<i> Supervision: {{ o.people  }} </i>
				</span><br />
			</td>
		</tr>
{% endfor %}

</tbody>
</table>